<table mat-table [dataSource]="clubs.standings[0]?.table" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Posição </th>
    <td mat-cell *matCellDef="let element" class="position-color"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="club">
    <th mat-header-cell *matHeaderCellDef> Clube </th>
    <td mat-cell *matCellDef="let element" class="align-badge-club">
      <img [src]="element.team.crestUrl" alt="logo do clube de futebol"> {{element.team.name}} </td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> Pontos </th>
    <td mat-cell *matCellDef="let element"> {{element.points}} </td>
  </ng-container>

  <ng-container matColumnDef="played">
    <th mat-header-cell *matHeaderCellDef> Partidas Jogadas </th>
    <td mat-cell *matCellDef="let element"> {{element.playedGames}} </td>
  </ng-container>

  <ng-container matColumnDef="won">
    <th mat-header-cell *matHeaderCellDef> Vitórias </th>
    <td mat-cell *matCellDef="let element"> {{element.won}} </td>
  </ng-container>

  <ng-container matColumnDef="drawn">
    <th mat-header-cell *matHeaderCellDef> Empates </th>
    <td mat-cell *matCellDef="let element"> {{element.draw}} </td>
  </ng-container>

  <ng-container matColumnDef="lost">
    <th mat-header-cell *matHeaderCellDef> Derrotas </th>
    <td mat-cell *matCellDef="let element"> {{element.lost}} </td>
  </ng-container>

  <ng-container matColumnDef="goalsFor">
    <th mat-header-cell *matHeaderCellDef> Gols Marcados </th>
    <td mat-cell *matCellDef="let element"> {{element.goalsFor}} </td>
  </ng-container>

  <ng-container matColumnDef="goalsAgainst">
    <th mat-header-cell *matHeaderCellDef> Gols Contra </th>
    <td mat-cell *matCellDef="let element"> {{element.goalsAgainst}} </td>
  </ng-container>

  <ng-container matColumnDef="goalsDifference">
    <th mat-header-cell *matHeaderCellDef> Saldo de Gols </th>
    <td mat-cell *matCellDef="let element"> {{element.goalDifference}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Qualificação/Rebaixamento</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="size-qualification" style="background-color: #4285F4;">Fase de grupos da Liga dos Campeões</p>
    <p class="size-qualification" style="background-color: #FA7B17;">Fase de grupos da Liga Europa</p>
    <p class="size-qualification" style="background-color: #EA4335;">Rebaixamento</p>
  </mat-card-content>
</mat-card>

<!-- <table>
  <thead>
    <th>Posição</th>
    <th>Escudo</th>
    <th>Time</th>
    <th>Pontos</th>
  </thead>
  <tbody>
    <tr *ngFor="let time of clubs?.standings[0].table">
      <pre>{{time.position}}</pre>
      <td>{{time.team.name}}</td>
      <td><img src="{{time.team.crestUrl}}"></td>
      <td>{{time.points}}</td>
    </tr>
  </tbody>
</table> -->
