table {
  width: 100%;
}

.mat-column-id {
  width: 20px;
  border-left: 5px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

img {
  padding: 10px 0;
  height: 64px;
  width: 64px;
}
