table {
  width: 100%;
  height: auto;
}

.mat-column-id {
  width: 20px;
  border-left: 5px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-id {
  width: 20px;
  display: flex;
  // text-align: center;
}

img {
  padding: 10px 0;
  height: 30px;
  width: 30px;
}

table, th, td {
  border: 1px solid;
}
